@inherits LayoutComponentBase

<!-- LoginLayout sin Header ni Footer -->
<div class="min-h-screen flex items-center justify-center bg-background-light dark:bg-background-dark">
    @Body
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

