@page "/home"
@layout LayoutSelector
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@IsMobile

@code{
        private bool IsMobile { get; set; }

}