<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="github" value="https://nuget.pkg.github.com/osmaga2012/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="osmaga2012" />
            <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAqzJRpMBOo0aHpeEgDoCAFAAAAAACAAAAAAAQZgAAAAEAACAAAABb1TPU7Ak3ISfnNvpwPbQYRUa6UaQPETH45yuAy4T++QAAAAAOgAAAAAIAACAAAAAgNJGoqEAHv185h+6Sf4Ds6K3V5GCgkOTNQGvEUIAehDAAAAAYboojQ+eqwo7TMogCYXdEj3QGn2WreXIGgd5nBWe2n0l4SgI/yCHAk3iQkNNKRU1AAAAAOv1zpo6Sa4/Ts5adekQ+dcF0AWt/LpdE1K3A/n3dQGKk+c2WdnG83Pq/L5zfpxOJ6keUTWqYuv+i/1iBgdM75w==" />
        </github>
    </packageSourceCredentials>
</configuration>
