name: Deploy Blazor WASM to GitHub Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout CRM_V3
        uses: actions/checkout@v4
        #with:
        #  path: main_repo # Metemos el código principal aquí

      - name: Checkout Dtos
        uses: actions/checkout@v4
        with:
          repository: osmaga2012/CRM
          path: CRM_REPO # Los DTOs quedan al lado de main_repo
          token: ${{ secrets.API_TOKEN_GITHUB }}

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
          dotnet-quality: 'preview'

      - name: Restore dependencies
        # Entramos en la carpeta donde está el proyecto para que el ../CRM_REPO funcione
        run: dotnet restore ../CRM.V3/CRM.V3.Web.Client/CRM.V3.Web.Client.csproj

      - name: Publish App
        # Corregido el path del csproj y la ruta de salida
        run: |
          dotnet publish ../CRM.V3/CRM.V3.Web.Client/CRM.V3.Web.Client.csproj \
          -c Release \
          -o release \
          /p:StaticWebAssetsEnabled=true

      - name: Fix for GitHub Pages
        run: |
          # El publish manda todo a 'release/wwwroot' en la raíz del runner
          touch release/wwwroot/.nojekyll
          sed -i '/base href=/c\    <base href="/CRM_V3/" />' release/wwwroot/index.html
          cp release/wwwroot/index.html release/wwwroot/404.html

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'release/wwwroot'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
